<!-- <div style="background-color: rgb(141, 218, 253);"> -->
<!-- <div class="total"> -->
<div *ngIf="view">

<div *ngFor="let prod of products">
    <div class="contain">
        <div><img [src]="prod.imageUrl" class="image"></div>
        <div class="content">
            <!-- <div class="cart">Hi Im cart</div> -->
            <p style="margin-top: 3%;">{{prod.brandName}}</p>
            <p id="pname"><b>{{prod.productName}}</b></p>
            <p>Quantity: {{prod.weight}}</p>
            <p>MRP: <del>{{prod.mrp|currency:"INR"}}</del><span style="color: red;"> {{prod.offerText}}% Off</span></p>
            <p>Final Price: {{prod.price|currency:"INR"}}</p>
            <div class="btn-group cart">
                <button class="button" (click)="addToCart(prod)">Add to Cart</button>
                <span style="margin-right:45%;"></span>
                <button class="inc" [disabled]="prod.quantity == 0" (click)="deleteFromCart(prod)">-</button>
                <div id="qtn">{{prod.quantity}}</div>
                <button class="inc" (click)="addToCart(prod)">+</button>
            </div>
        </div>

        <div class="footer">
            <div>
                <!-- <div> -->
                    <p>Total Amount: {{totalAmount}}</p>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <div style="margin-inline-start: auto;"><button class="check-btn" (click)="goToCheckout()">Checkout</button></div>
                <!-- </div> -->
            </div>
        <!-- <div style="padding-left:20em"> </div> -->
            <!-- <div><button class="check-btn" (click)="goToCheckout()">Checkout</button></div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
</div>

<div class="total">
<div *ngIf="checkout_yes">
    <div class="total">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of cartProducts">
                    <td><img class="img-sm" [src]="prod.imageUrl"></td>
                    <td>{{prod.productName}}</td>
                    <td>{{prod.price|currency:"INR"}}</td>
                    <td class="txt-centre">{{prod.quantity}}</td>
                    <td>{{prod.price * prod.quantity|currency:"INR"}}</td>
                </tr>
                <tr>
                    <td colspan="4"><b>Total No. of Items</b></td>
                    <td class="txt-centre"><b>{{cartProducts.length}}</b></td>
                </tr>
                <tr>
                    <td colspan="4"><b>Total Quantity</b></td>
                    <td class="txt-centre"><b>{{totalQuantity}}</b></td>
                </tr>
                <tr>
                    <td colspan="4"><b>Total Amount Saved</b></td>
                    <td style="color: red;"><b>{{totalAmtSaved|currency:"INR"}}</b></td>
                </tr>
                <tr>
                    <td colspan="4"><b>Total Amount</b></td>
                    <td><b>{{totalAmount|currency:"INR"}}</b></td>
                </tr>
            </tbody>
        </table>
        <div class="box">
            <button class="button" style="max-width: 18%;" (click)="buyProducts()">Buy</button>
            <span style="padding-left:3em"></span>
            <button class="button" style="max-width: 18%;" (click)="goBack()">Back</button>
        </div>        
    </div>
</div>

<div *ngIf="buy">
    <div class="modal">
        <div class="modal-content">
          <span class="close" (click)="close()">&times;</span>
          <p>Thank you for shopping with us!</p>
          <p>Amount {{totalAmount|currency:"INR"}} is paid.</p>
          <p>You saved<span style="color: red;"> {{totalAmtSaved|currency:"INR"}}</span>!</p>
        </div>
      
    </div>
</div>

<div *ngIf="checkout_no" id="checkout">
    There are no items in your cart!
    <div style="height: 30px;">
        <button class="button" style="margin-top: 2%; width: 20%;" (click)="goBack()">Continue Shopping</button>
    </div>
</div>
</div>

